@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}
header{
    z-index: 10001 !important;
} 
.btn-primary{
    @apply px-5 py-2 bg-branPrimary rounded-md text-white 
    transition-all duration-300 hover:text-neutralDGray 
    hover:bg-neutralSilver hover:border-branPrimary 
    hover:border-2 border-2 border-branPrimary hover:-translate-y-5;
}
